/* styles for solveme */
.solveme, .reveal .solveme + label 
    { border: 2px dotted red; }
.solveme.correct,
.reveal .solveme.correct + label
    { border: 2px solid blue; }
form.webex_form.hide_answers .solveme,
form.webex_form.hide_answers .solveme.correct,
form.webex_form.hide_answers .solveme + label,
form.webex_form.hide_answers .solveme.correct + label
    { border: 2px solid grey; }

/* styles for hidden solutions */
.solution {
    height: 2.5em;
    overflow-y: hidden;
    padding: 0.5em;
}
.solution.open {
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.solution button {
    height: 2em;
    margin-bottom: 0.5em;
}
.solution pre.sourceCode {
    border-color: green;
}

ul.cb {
    list-style-type: none;
}

form.webex_form.hide_answers #total_correct,
form.webex_form .cb > button {
    display: none;
}
